<!-- generate-signup-code.ejs -->
<div class="container mt-4" style="max-width: 800px;">
    <% if (typeof error !== 'undefined' && error) { %>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="fas fa-exclamation-triangle bi flex-shrink-0 me-2" style="font-size: 1.5rem;"></i>
            <div><%- error %></div>
        </div>
    <% } %>
    <% if (typeof success !== 'undefined' && success) { %>
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <i class="fas fa-check-circle bi flex-shrink-0 me-2" style="font-size: 1.5rem;"></i>
            <div><%- success %></div>
        </div>
    <% } %>

    <div class="bg-light-grey card border-0 shadow-sm" style="border-radius: 0.5rem; padding: 2rem;">
        <div class="card-body">
            <h1 class="mb-4 display-5">Generate Signup Code</h1>
            <form action="/generate-signup-code" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="role" class="form-label">Select Role for Code</label>
                    <select class="form-select" id="role" name="role" required>
                        <option value="">Select a Role</option>
                        <% roles.forEach(function(role) { %>
                            <option value="<%= role %>"><%= role %></option>
                        <% }); %>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-key"></i> Generate Code</button>
            </form>
        </div>
    </div>

</div>
